body {
    background-color: #eee;
}

img {
    height: 7em;
    width: auto;
}

h5 {
    color: #999;
}

.wrapper {
    margin: auto;
    margin-top: 5%;
}

.game-card {
    margin: auto;
}

.invisible {
    display:none;
}

.graphic-wrapper {
    height: 16rem;
    background-color: #fff;
    border: 1px solid #ccc;
}

#player1-card, #player2-card {
    background-color: #fff;
}

#player1-enemy-choice, #player2-enemy-choice, #player1-choice, #player2-choice {
    margin: auto;
}



/* Bootstrap Overrides */
