body {
    background-color: #eee;
}

.wrapper {
    margin: auto;
    margin-top: 5%;
}

.game-card {
    margin: auto;
}

.invisible {
    display:none;
}

#player1-choice, #player2-choice {
    height: 16rem;
    background-color: #fff;
    border: 1px solid #ccc;
}

#player1-card, #player2-card {
    background-color: #fff;
}



/* Bootstrap Overrides */
